---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sreeharsha Raveendra - About";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold">About</h1>
</BaseLayout>
