---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sreeharsha Raveendra - Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold">Contact</h1>
</BaseLayout>
