---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";

const pageTitle = "Sreeharsha Raveendra - Contact";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold">Contact</h1>
  <ContactForm />
</BaseLayout>
