---
import IntroImage from "@/components/home/intro-image";
import BaseLayout from "../layouts/BaseLayout.astro";
import IntroLinks from "@/components/home/intro-links";

const pageTitle = "Sreeharsha Raveendra";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="pt-28 ">
  <IntroImage client:load />
  <IntroLinks client:load />
</div>
</BaseLayout>
