---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Sreeharsha Raveendra - Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-3xl font-bold">Projects</h1>
</BaseLayout>
